<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/style/style.css" />
  <link rel="stylesheet" href="/style/play.css" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lyrically | A mix of typing and music</title>
  </head>
  <body>
    <form id="search-form" action="play" method="POST">
      <div>
        <label for="songName">Song:</label>
        <input
          type="text"
          id="songName"
          name="songName"
          placeholder="Song Name"
        />
      </div>
      <input type="submit" value="Submit" />
    </form>

    <div id="lyrics-container">
      <!--! Prettier formatter does not properly format ejs code -->

      <% if (typeof lyrics != "undefined" && lyrics != null) { %> 

      <% const arr =
      lyrics.split("\n"); %>
      <% for (let i = 0; i < arr.length; ++i) { 
        let res = arr[i];
      %>
      <% if (res != "") { %>
          <div id="<%= "lyric" + i %>" class="hidden lyric">
          <% 
          for (let e = 0; e < res.length; e++) { %>
            <span id="<%= "letter" + e %>" class="letter">
              <%= res[e] %>
            </span>
            <% } %>
        </div>
      <% } %>
      <% } %>
      <% } %>
    </div>

    <iframe
      id="audio-player"
      width="560"
      height="315"
      src="<%= typeof ytUrl == "undefined" ? "": ytUrl%>"
      title="YouTube video player"
      frameborder="0"
      referrerpolicy="strict-origin-when-cross-origin"
    ></iframe>
  </body>
  
  <input type="text" id="charInput">

  <script defer> let timestamps = [<%= timestampsArr %>];</script>
  <script type="text/javascript" src="/script/play.js" defer></script>
  <script type="text/javascript" src="/script/checker.js" defer></script>
</html>